
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lato:wght@300;400;700&display=swap');

@font-face {
	font-family: 'EphSerif';
	src: url('/shared/fonts/EphSerif-Regular.otf') format('opentype'),
		url('/shared/fonts/EphSerif-Regular.ttf') format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'EphSlab';
	src: url('/shared/fonts/EphSlab-Regular.otf') format('opentype'),
		url('/shared/fonts/EphSlab-Regular.ttf') format('truetype');
	font-display: swap;
}
